*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:x-large;
    line-height: 45px;
    background-color: whitesmoke;
    overflow-wrap: anywhere;
}

p, h1, h2, h3, h4{
    padding-left: 1rem;
}
.navbar{
    min-height:4rem;   
    background-color: lightskyblue;
    border-bottom: 4px solid black;
}

.icons{
    height:4rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#icons-left{
    display: flex;
    justify-content: center;
    gap:3rem;
    padding-left: 2rem;
}
#icons-right{
    display: flex;
    justify-content: end;
    flex-grow: 1;
    padding-right: 2rem ;
}
.icons a{
    text-decoration: none;
    color:black;
    font-size:3rem;
}



.icons a:hover{
    color: white;
}

main {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 10fr 3fr;
    padding: 5px;
    gap: 50px;
}

.left-bar {
    font-size:medium;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: sticky;
    top: 15rem;
    bottom: 15rem;
    margin-left: 4%;
    margin-right: 25%;
    padding-right: 4%;
    text-align: right;
    border-right: 2px solid lightskyblue;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightskyblue;
}

article a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


.centered{
    text-align: center;
}


article{
    padding: 1rem 0;
    border-bottom: 2px solid lightskyblue;
}

.table-display-types{
    width:80%;
    
    text-align: center;
    margin: 2rem auto;
}
td, th{
    border: 1px solid black;
    margin:0;
}

.iframe-container{
    position:relative;
    width:100%;
    height: 0;
    padding-bottom: 56.25%;
    width:100%;
    overflow:hidden;
    height:200px;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    overflow:scroll;
    border:0;
    background-color: transparent;
}
.codepen{
    border: 0;
    
}

.svg-container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.svg-container svg{
    max-width: 30%;
    max-height:560px;
}
.right-box{
    max-width: 70%;
    font-size:18px;
    line-height: 14px;
}
#path1:hover{
    fill: yellow;
    transition: fill 0.5s ease-out 0.1s;
}

#rect3:hover{
    fill: yellow;
    transition: fill 0.5s ease-out 0.1s;
}

#rect1:hover{
    fill:yellow;
    transition: fill 0.5s ease-out 0.1s;
}

.page-selector {
    margin-top: 40px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 4fr 10fr 3fr;
    gap: 50px;
}

.btc {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.btc>div {
    justify-content: center;
    background-image: linear-gradient(to right, lightskyblue, rgb(219, 182, 182));
    border: 0.5px dotted black;
}

.btc>div>a {
    display: inline-block;
    text-align: center;
    color: black;
    padding: 8px 15px;
    font-size: 26px;
}

.btc div a span {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18%;
    min-width: 120px;
    background-color: whitesmoke;
    color: black;
    z-index: -1;
}

@media (max-width: 900px){
    html{
        font-size: medium;
    }
    main, header, .page-selector{
        grid-template-columns: 4fr 10fr 0;
    }
    .left-bar{
        margin:0;
    }
    #icons-left, #icons-right{
        gap: 2rem;
        padding: 0, 25px;
    }
    .btc>div>a {
        padding: 6px 12px;
        
    }
    .btc-text{
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    main, header, .page-selector {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:0;
    }

    .left-bar {
        position: relative;
        top:0;
        bottom:0;
        margin: 0;
        border: 0;
        text-align: center;
    }

    footer {
        position: relative;
        width: 100%;
    }
 
    #icons-left, #icons-right{
        gap: 1rem;
        padding: 0 10px;
    }
    .btc>div>a {
        padding: 3px 7px;
    }
    .btc-text{
        font-size: 18px;
    }
}
