*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    overflow-wrap: anywhere;
}

main {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 6fr 3fr;
    padding: 5px;
    gap: 50px;
}

.left-bar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: sticky;
    top: 5rem;
    bottom: 5rem;
    margin-left: 4%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    background-color: white;
}

a:active {
    color: blue;
}

header {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 50px;
}

.centered {
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}

section{
    border-bottom: 1px solid black;
}

.page-selector {
    margin-top: 40px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 50px;
}

.btc {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.btc>div {
    justify-content: center;
    background-image: linear-gradient(to right, rgb(234, 205, 170), rgb(203, 143, 22));
}

.btc>div>a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(10, 10, 10);
    padding: 8px 15px;
    font-size: 24px;
}

.btc>div>a>span {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 12%;
    min-width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: bisque;
    color: black;
    z-index: -1;
}

@media (max-width: 500px) {
    
    main, header, .page-selector {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:0;
    }

    .left-bar {
        position: relative;
        top:0;
        bottom:0;
        margin-left: 10%;
    }

    footer {
        position: relative;
        width: 100%;
    }
}